{% extends 'layout_docs.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}

    <header class="site-header">

    {% include 'blocks/logo_nav_top_bar.html.twig' %}

    </header>
    <main class="container">
        <div class="row">

            <!-- Sidebar -->
            {% include 'blocks/sidebar_menu.html.twig' %}
            <!-- Main content -->
            <article class="col-md-9 col-sm-9 main-content" role="main">

                <header>
                    <h1>Configuração</h1>
                    <p>Após a instalação configure sua aplicação e obtenha melhor proveito dos recursos do Syph-framework.</p>
                    <p>O diretório <code>global/</code>, armazena os arquivos de configuração globais da aplicação que são:</p>

                    <ol class="toc">
                        <li><a href="/configuration#config"><code>config.php</code></a></li>
                        <li><a href="/configuration#database"><code>database.php</code></a></li>
                        <li><a href="/configuration#parameters"><code>parameters.php</code></a></li>
                        <li><a href="/configuration#services"><code>services.php</code></a></li>
                    </ol>
                </header>
                <section>
                    <div id="config">
                        <h2><code>config.php</code></h2>
                        <p>Responsável pelas configuraçãoes </p>
                    </div>
                    <div id="database">
                        <h2><code>database.php</code></h2>
                    </div>
                    <div id="parameters">
                        <h2><code>parameters.php</code></h2>
                    </div>
                    <div id="services">
                        <h2><code>services.php</code></h2>
                    </div>
                </section>


            </article>
            <!-- END Main content -->
        </div>
    </main>

{% endblock %}