{% extends 'layout_docs.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}

    <header class="site-header">

    {% include 'blocks/logo_nav_top_bar.html.twig' %}

    </header>
    <main class="container">
        <div class="row">

            <!-- Sidebar -->
            {% include 'blocks/sidebar_menu.html.twig' %}
            <!-- Main content -->
            <article class="col-md-9 col-sm-9 main-content" role="main">

                <header>
                    <h1>Instalação e configurações</h1>
                    <p>Utilize o composer para começar seu projecto.</p>

                </header>
                <section>
                    <h2>Requisitos do servidor</h2>
                    <p>PHP >= 5.6.4</p>
                    <p>PDO PHP Extension</p>
                    <h2>Instalação via Composer</h2>
                    <p>Para instalar uma nova aplicação Syph, precisaremos do composer, caso você, não o tenha instalado, clique no link para saber mais, porém recomendamos a instalação do composer de forma global</p>
                    <p><a href="https://getcomposer.org/download/" target="_blank">Download Composer</a></p>
                    <p>Com o composer instalado, execute o comando:</p>
                    <pre class="line-numbers"><code class="language-bash">
composer create project sylabs/syph-app project
</code></pre>
                    <p>Quando o composer terminar a instalação, basta acessar o seus endereço localhost.
                    localhost/project/public/índex.php e a primeira tela será retornada.
                    <div class="code-snippet">
                        <div class="code-preview">
                            <img class="img-shadow img-responsive center-block" src="{{ asset('/assets/images/screens/start_view.jpg') }}" alt="shadowed image">
                        </div>
                    </div>
                </section>


            </article>
            <!-- END Main content -->
        </div>
    </main>

{% endblock %}