{% extends 'layout_docs.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}

    <header class="site-header">

        {% include 'blocks/logo_nav_top_bar.html.twig' %}

    </header>
    <main class="container">
        <div class="row">

            <!-- Sidebar -->
            {% include 'blocks/sidebar_menu.html.twig' %}
            <!-- Main content -->
            <article class="col-md-9 col-sm-9 main-content" role="main">

                <header>
                    <h1>Trabalhando com rotas</h1>
                    <p>É muito simples trabalhar com rotas no syph.</p>
                </header>
                <section>
                    <h2>Básico</h2>
                    <p>O arquivo de configuração das rotas fica no diretório raiz da aplicação no arquivo <code>routing.php</code></p>
                    <p>O arquivo vem configurado da seguinte maneira:</p>
                    <pre class="line-numbers"><code class="language-php">
$router->add('/', 'DemoApp:HomeController:index');
</code></pre>
                    <p>A rota acima é a responsável pela pagina inicial da instalação do framework, configure as rotas utilizando este guia.</p>
                    <div class="callout callout-syph" role="alert">
                        <h4>Atenção!</h4>
                        <p>Para obter melhor aproveitamento do sistema de roteamento, habilite a reescrita de URL do seu webserver, saiba mais na página
                            <a href="/installation/web-server-configuration">Configurando Web Server</a>.</p>
                    </div>
                    {#<pre class="line-numbers"><code class="language-php">#}
{#use Syph\Routing\Route;#}
{#use Syph\Routing\RouterCollection;#}
{#$router = new RouterCollection();#}

{#// Adição de rota da forma antiga, ainda compatível#}
{#RouterCollection::route(#}
    {#'home',#}
    {#new Route('/', function(){#}
            {#return ['controller'=>'DemoApp:HomeController:index'];#}
        {#}#}
    {#)#}
{#);#}
{#</code></pre>#}

                </section>
                <section>
                    <h2>Restringindo tipos request</h2>
                    <p>Contudo existem outras formas de serem declaradas as rotas, restringindo um tipo de rquisição em <code>GET</code> ou <code>POST</code></p>
                    <pre class="line-numbers"><code class="language-php">
$router->addGet('/', 'DemoApp:HomeController:index');
</code></pre>
                    <p>A rota declarada acima restringe as requisições ao caminho <code>'/'</code> apenas por requisições <code>GET</code>.</p><pre class="line-numbers"><code class="language-php">
$router->addPost('/test/post', 'DemoApp:HomeController:testPost');
</code></pre>
                    <p>A rota declarada acima restringe as requisições ao caminho <code>'/test/post'</code> apenas por requisições do tipo <code>POST</code>.</p>
                </section>


            </article>
            <!-- END Main content -->
        </div>
    </main>

{% endblock %}
