### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
# Created by .ignore support plugin (hsz.mobi)
vendor
storage/logs/*
!public/assets/vendor/
node_modules
public/packages