{% extends 'layout.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}
    {#<nav class="navbar navbar-default navbar-fixed-top" role="navigation">#}
        {#<div class="container">#}
            {#<div class="row" style="padding-top: 10px;">#}
                {#<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-bottom: 10px;">#}
                    {#<a class="" href="#">#}
                        {#<img src="{{ asset('/assets/images/logo.png') }}" style="width: 100%;">#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}


        {#</div>#}

    {#</nav>#}

    <div id="particles-js"></div>

    <div class="panel" style="top: 35%;">


        <div class="" style="margin-bottom: 10px;text-align: center;width: 100%;">
            <div style="width: 30%;margin: 10px auto 30px;">
                <img src="{{ asset('/assets/images/logo.png') }}" style="width: 100%;">
            </div>
        </div>

        <h1 class="aligncenter">Simples, Leve e Rápido</h1>
        <p class="aligncenter">Idealizado para te ajudar a entender.</p>
        <div class="aligncenter">
            <a title="documentation" class="btn btn-default btn-lg" href="/docs">Começar</a>
            <a title="download" class="btn btn-primary btn-lg" target="_blank" href="https://github.com/sylabs/syph-application">Download</a>
        </div>

    </div>

{% endblock %}
