RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l



RewriteRule ^(.+)$ index.php?path=$1 [QSA]

RewriteCond %{REQUEST_URI} !\.(?:css|js|png|jpeg|gif|woff|woff2|ttf)$ [NC]
RewriteRule ^/public/assets/ - [L,F]

#RewriteRule ^.(js|css|jpg|jpeg|png|gif)$ - [NC,F,L]
