{% extends 'layout.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}
    <div id="particles-js"></div>

    <div class="panel">
        <img src="{{ asset('/assets/images/logo.png') }}" style="width: 100%;">
        <h2 class="aligncenter">Bem vindo ao Syph</h2>

        <div class="aligncenter">
            <a title="documentation"  class="btn btn-default btn-lg" href="syph-fw.com">Documentação</a>
        </div>

    </div>

{% endblock %}
