{% extends 'layout.html.twig' %}
{% block title %}Bem vindo ao Syph{% endblock %}
{% block body %}
    <div id="particles-js"></div>

    <div class="panel">
        <img src="{{ asset('/assets/images/logo.png') }}" style="width: 200px; margin: 0 41%;">
        <h2 class="aligncenter">Bem vindo ao Syph</h2>

        <div class="aligncenter">
            <ul class="dt-sc-social-icons" style="padding: 0;">
                <li> <a title="documentation"  class="btn btn-lg" href="syph-fw.com"> Documentação  </a> </li>
            </ul>
        </div>

    </div>

{% endblock %}
