
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold
}
del {
text-decoration:line-through
}
abbr[title],
dfn[title] {
border-bottom:1px dotted;
cursor:help
}
table {
border-collapse:collapse;
border-spacing:0
}

html {
-webkit-tap-highlight-color:transparent
}
.loaded .panel li {
-webkit-transition:background 0.2s ease,
color 0.2s ease;
transition:background 0.2s ease,
color 0.2s ease
}
.loaded .panel li a {
-webkit-transition:color 0.2s ease;
transition:color 0.2s ease
}



.panel {
font-family: 'Lato', sans-serif;
font-size:1.3em;
position:absolute;
z-index:10;
width:40%;
/*height:220px;*/
background:#eee;
top:50%;
right:30%;
margin:-6% 0 0 0;
padding:20px;
border-radius:4px;
box-sizing:border-box;
z-index:100
}



@media screen and (max-width:650px){

    .panel{
        width: 70%;
        right: 15%;
        margin-top:-15% ;
    }

}
@media screen and (max-width:500px){

    .panel{
        width: 60%;
        right: 20%;
        margin-top:-40% ;
    }

}
.panel.hide {
display:none
}
.panel h1 {
font-size:1.8em;
font-weight:700;
text-align:center;
color:#222;
margin-top:-4px
}
.panel .r-version {
display:block;
margin-bottom:7px;
text-align:center;
font-size:.75em
}
.panel h2 {
font-weight:400;
font-size:.8em;
margin-bottom:16px;
text-align:center;
line-height:1.3em
}
.panel li {
font-size:1.1em;
font-weight:400;
text-align:center;
height:34px;
line-height:34px;
background:#fff;
margin-top:10px;
color:#222;
border-radius:4px
}
.panel li a {
display:block;
width:100%;
height:100%;
}
.panel li .label,
.panel li .svg-wrap {
display:inline-block;
vertical-align:top
}
.panel li .svg-wrap {
width:18px;
height:34px;
margin-left:6px
}
.panel li .svg-wrap svg {
fill:#222;
width:100%;
height:100%;
-webkit-transition:fill 0.2s ease;
transition:fill 0.2s ease
}
.panel li:hover {
background:#222;
color:#fff
}
.panel li:hover a {
color:#fff
}

html,
body {
width:100%;
height:100%;
background-color:#1d6391
}
canvas {
display:block;
vertical-align:bottom
}
#particles-js {
width:100%;
height:99.4%;
background-color:#1d6391;
background-size:cover;
background-position:50% 50%
}
#particles-js.troll canvas {
-webkit-animation:spinning 1.4s infinite;
animation:spinning 1.4s infinite
}
#particles-js .particles-js-canvas-el {
-ms-transform:scale(1);
-webkit-transform:scale(1);
transform:scale(1);
opacity:1;
-webkit-animation:appear 1.4s 1;
animation:appear 1.4s 1;
-webkit-animation-fill-mode:forwards;
animation-fill-mode:forwards
}
#loader {
position:absolute;
top:0;
left:0;
z-index:200;
background:#111;
width:100%;
height:100%
}
@-webkit-keyframes appear {
from {
-ms-transform:scale(0);
-webkit-transform:scale(0);
transform:scale(0);
opacity:0
}
to {
-ms-transform:scale(1);
-webkit-transform:scale(1);
transform:scale(1);
opacity:1
}

}
@keyframes appear {
from {
-ms-transform:scale(0);
-webkit-transform:scale(0);
transform:scale(0);
opacity:0
}
to {
-ms-transform:scale(1);
-webkit-transform:scale(1);
transform:scale(1);
opacity:1
}

}
@-webkit-keyframes spinning {
from {
-ms-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
-ms-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}

}
@keyframes spinning {
from {
-ms-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
-ms-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}

}

/*# sourceMappingURL=master.css.map */
