{% extends 'layout.html.twig' %}
{% block titile %}Syph-Framework{% endblock%}
{% block body %}
    <div class="mdl-layout__header">
        <div class="mdl-grid">
            <h1>Em construção</h1>
        </div>

    </div>
    <span class="text-center">Em alguns dias você lançaremos o site do Syph Framework.</span>
{% endblock%}