

            <!-- Sidebar -->
            <aside class="col-md-3 col-sm-3 sidebar">

                <ul class="sidenav dropable sticky sidebar-doc-syph">
                    <li><a href="#">Documentação</a></li>
                    <li>
                        <a class="{% if menu_active == 'm1'%}active{% endif %}" href="#">Começando</a>
                        <ul>
                            <li>
                                <a class="{% if class_active == 'link-concept'%}active{% endif %}" href="/docs">
                                    Conceitos
                                </a>
                            </li>
                            <li>
                                <a class="{% if class_active == 'link-installation'%}active{% endif %}" href="/installation">
                                    Instalação
                                </a>
                            </li>
                            <li>
                                <a class="{% if class_active == 'link-work-with-routes'%}active{% endif %}" href="/working-with-routes">
                                    Trabalhando com Rotas
                                </a>
                            </li>
                            <li>
                                <a class="{% if class_active == 'link-first-controller'%}active{% endif %}" href="/my-first-controller">
                                    Meu Primeiro Controller
                                </a>
                            </li>
                            <li>
                                <a class="{% if class_active == 'link-first-view'%}active{% endif %}" href="/my-first-view">
                                    Minha primeira View
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="{% if menu_active == 'm2'%}active{% endif %}" href="#">Componentes</a>
                        <ul>
                            <li><a class="{% if class_active == 'router'%}active{% endif %}" href="/router">Router</a></li>
                            <li><a class="{% if class_active == 'container'%}active{% endif %}" href="/container">Container</a></li>
                            <li><a class="{% if class_active == 'form'%}active{% endif %}" href="/form">Form</a></li>
                            <li><a class="{% if class_active == 'cache'%}active{% endif %}" href="/cache">Cache</a></li>
                            <li><a class="{% if class_active == 'logging'%}active{% endif %}" href="/logging">Logs</a></li>
                        </ul>
                    </li>
                </ul>

            </aside>
            <!-- END Sidebar -->
